*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    background-size: 400% 400%;
    position: relative;
    animation: change 3s ease-in-out infinite;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.container{
    background-color: rgb(235, 230, 230);
    width: 800px;
}

.navbar{
    background-color: #F1C0E8;
    width: 800px;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn, input{
    height: 35px;
    padding: 0 1em;
}

.reset{
    background-color: #FFCFD2;
    border: none;
    border-radius: 5px;
    color: #FBF8CC;
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 1px 1px 2px #CFBAF0;
    cursor: pointer;
}

.reset:hover{
    text-shadow: 1px 1px 2px #FBF8CC;
    color: #FFCFD2;
    background-color: #FDE4CF;
    box-shadow: 3px 3px #cfbaf075;
}

.color{
    padding: 0 .25em;
    width: 100px;
    margin: 0 1em;
    border: none;
}

.size{
    border:none;
    background-color: #FBF8CC;
    color: #292a2c;
    font-weight: bolder;
    text-align: center;
    width: 80px;
    border-radius: 5px;
}

.container{
    --size: 4;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-columns: repeat(var(--size), 1fr);
    gap: 3px;
    padding: 3px;
}

.pixel{
    background-color: #FBF8CC;
    border-radius: 2px;
}

.pixel:hover{
    box-shadow: 3px 3px 3px rgba(53, 50, 50, 0.582);
}